#===============================================================================
#
# Liquid Feedback
# Crontab
#
#===============================================================================

# m	h	dom	mon	dow	command
*/5	*	*	*	*	/opt/bin/lf_update db_name=liquid_feedback
